<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HORARIOS</title>
	<link rel="icon" href="../img/Proyecto2.png">
	<!--jQuery-->
	<script src="../lib/jQuery/script.min.js"></script>
	<!--css bootstrap-->
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
	<!--css-->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/fonts.css">
</head>
<body>
	<!--barra de opciones-->
	<div class="container-fluid fonu1">
		<div class="row">
			<div class="col-md-12">
				<div class="topnav" id="myTopnav">
  					<a href="../index.html" class="active">Inicio</a>
  					<a href="../templates/sucursales.html">Sucursales</a>
  					<a href="../templates/proyectos.html">Proyectos</a>
  					<a href="../templates/cursos.html">Cursos</a>
  					<a href="../templates/horarios.html">Horarios</a>
  					<a href="../templates/contactanos.html">Contáctanos</a>
 				</div>
			</div>
		</div>
		<br>
		<!--TITULO-->
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10"><center><img class="responsive" src="../img/tite.png"></center></div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<!--PRIMER CONTENEDOR-->
	

	<!--bootstrap-->
	<script src="../lib/bootstrap/js/bootstrap.js"></script>
	<!--angular-->
	<script src="../lib/angular/angular.js"></script>
	<!--js-->
	<script src="../js/menu.js"></script>
</body>
</html>